<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="emp"
          class="org.example.Employee">

        <property
                name="name"
                value="John Deo"/>

        <property name="projects">
            <list>
                <value>ERP System</value>
                <value>CRM App</value>
                <value>Hospital Management</value>
                <value>Location Tracker</value>
            </list>
        </property>

        <property name="salary" value="55000"></property>
    </bean>

</beans>